#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	# Nothing to build

override_dh_auto_install:
	# Install Python script
	install -D -m 755 src/pulseaudio-network-server debian/pulseaudio-network-server/usr/bin/pulseaudio-network-server

	# Install systemd user service
	install -D -m 644 systemd/pulseaudio-network-server.service debian/pulseaudio-network-server/usr/lib/systemd/user/pulseaudio-network-server.service

	# Install firewalld service definition
	install -D -m 644 firewalld/pulseaudio-network.xml debian/pulseaudio-network-server/usr/lib/firewalld/services/pulseaudio-network.xml

	# Install default configuration
	install -D -m 644 config/server.json debian/pulseaudio-network-server/etc/pulseaudio-network/server.json
